<p-menubar>
  <ng-template pTemplate="start">
    <div class="flex align-items-center gap-4">
      <!-- Logo sempre visible -->
      <a routerLink="/">
        <app-logo class="h-2rem"></app-logo>
      </a>
      <div class="hidden md:flex align-items-center gap-4">
        <a routerLink="/llibres" class="text-lg">Llibres</a>
        <a routerLink="/activitats" class="text-lg">Activitats</a>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="hidden sm:flex align-items-center gap-4">
      <p-iconfield class="flex align-items-center">
        <input pInputText placeholder="Cerca " class="text-base" />
        <p-inputicon class="pi pi-search text-lg" />
      </p-iconfield>
      <i class="pi pi-user text-lg"></i>
      <i class="pi pi-shopping-bag text-lg"></i>
    </div>

    <!-- Menú hamburguesa només en mòbils -->
    <i class="pi pi-bars sm:hidden text-2xl" (click)="menuVisible = true"></i>
  </ng-template>
</p-menubar>

<!-- Sidebar per a mòbils -->
<p-sidebar [(visible)]="menuVisible" position="right">
  <div class="flex flex-column gap-3 p-4">
    <a routerLink="/" class="text-lg">Inici</a>
    <a routerLink="/llibres" class="text-lg">Llibres</a>
    <a routerLink="/activitats" class="text-lg">Activitats</a>
  </div>
</p-sidebar>
