<footer
  class="p-d-flex p-jc-center p-ai-center p-p-3 footer-background footer-text"
>
  <div class="p-grid p-align-center p-justify-center">
    <div class="p-col-3">
      <h4>Column 1</h4>
      <ul>
        <li><a href="#" class="footer-link">Link 1</a></li>
        <li><a href="#" class="footer-link">Link 2</a></li>
        <li><a href="#" class="footer-link">Link 3</a></li>
        <li><a href="#" class="footer-link">Link 4</a></li>
      </ul>
    </div>
    <div class="p-col-3">
      <h4>Column 2</h4>
      <ul>
        <li><a href="#" class="footer-link">Link 1</a></li>
        <li><a href="#" class="footer-link">Link 2</a></li>
        <li><a href="#" class="footer-link">Link 3</a></li>
        <li><a href="#" class="footer-link">Link 4</a></li>
      </ul>
    </div>
    <div class="p-col-3">
      <h4>Column 3</h4>
      <ul>
        <li><a href="#" class="footer-link">Link 1</a></li>
        <li><a href="#" class="footer-link">Link 2</a></li>
        <li><a href="#" class="footer-link">Link 3</a></li>
        <li><a href="#" class="footer-link">Link 4</a></li>
      </ul>
    </div>
    <div class="p-col-3">
      <h4>Column 4</h4>
      <ul>
        <li><a href="#" class="footer-link">Link 1</a></li>
        <li><a href="#" class="footer-link">Link 2</a></li>
        <li><a href="#" class="footer-link">Link 3</a></li>
        <li><a href="#" class="footer-link">Link 4</a></li>
      </ul>
    </div>
  </div>
</footer>
